[2019-02-11 03:02] justinclift opened #124 "More export formats, so online visualisers can use the data"
It would potentially be really useful having more export formats available, similar to the recently added [Redash JSON](fbc049eb02f5df50c39d7a54540e3b7cdbcf9467) format.

Specifically, export formats so online visualisation solutions can make use of uploaded data:

**Open source**
* [Plotly](https://plot.ly)
* [Superset](https://github.com/apache/incubator-superset)
* [Metabase](https://metabase.c

[2019-02-11 07:16] chrisjlocke commented on #124
Is the 'redash json' link valid?  Doesn't go anywhere for me ("No results matched your search.")
Would these be baked into DB4S, or available via extensions?  I don't know how DB4S sees extensions, or whether thats purely for SQLite extensions.

[2019-02-11 07:30] justinclift commented on #124
Oops, fixed. :smile:

[2019-02-11 07:40] justinclift commented on #124
In this case, it's "baked into DBHub.io", so when someone uploads a database they're able to use that data in a Redash server.

For example, if you go here:

* https://dbhub.io/nicva/Marine%20Litter%20Survey%20(Keep%20Northern%20Ireland%20Beautiful).sqlite

Then click on the green "Download database" drop down on the right.  One of the options is now "Selected table as Redash JSON".

Anyone using

[2019-02-11 09:37] chrisjlocke commented on #124
Thanks for the extra information.  When I first read the issue, I didn't spot the 'dbhub' part, so thought it was a DB4S requirement.  Never heard of Redash.

With regard to the API key, etc, can't the certificate used in DB4S grant access?  So DB4S has given them a certificate, they've uploaded their data, so something,  something, magic fairy dust, pixies, Stargate magnets and voila - they have

[2019-02-11 09:42] justinclift commented on #124
The certificate can be useful for some stuff (eg DB4S, maybe the cli too), but Redash doesn't (yet) have a way to upload a certificate to the server.  API keys are generally the way it's done, though I've never needed to implement them before.  Will need to read up on them, etc. :smile:

[2019-02-11 10:10] karim commented on #124
I like it! I find visualizations of data to be very important, giving you a better look on the data.

I like the screenshot you posted and I had to ask you something, since I'm not familiar with Redash, or JavaScript, or have any idea how this was generated. How hard is it to just show the visualization directly in DBHub?

Like select a table and click on a button .. Click Me! > Visualize Data ? O

[2019-02-11 10:17] justinclift commented on #124
Yeah, that was the first approach I went with too.  eg try and add some kind of javascript charting thing to the DBHub.io website, and have a tab in the database display area that lets people build + display stuff there.

The problem really comes down to my just not really grokking javascript - which I consider a shitty, unsafe language and tend to avoid.  So, that kind of failed. :wink:

That was

[2019-02-11 10:47] karim commented on #124
Same. :smiley:

That's true. I understand it better now, thanks.

[2019-05-09 11:55] MKleusberg commented on #101
Almost forgot about this, but Qt seems to have added support for setting the last modified date in Qt 5.10. So for all builds using Qt >= 5.10 we now set the date properly when checking out a file :smile: The last modified date is also sent back to the server, so I guess this should be fixed now.

[2019-05-09 11:58] justinclift commented on #101
Excellent! :man_dancing:

[2020-01-30 19:48] bam80 opened #125 "Can't see Views in uploaded database"
Is it implemented already?

[2020-01-30 20:08] bam80 commented on #125
Sorry I didn't write changes to the db..

[2020-01-31 10:46] justinclift commented on #125
No worries.  There's a fair amount of stuff in dbhub.io that's not yet implemented (and will be at some point).  But views should be there. :smile:

[2020-01-31 14:46] bam80 commented on #125
By the way, will it be possible to not only see the data but also the SQL code?

[2020-01-31 15:50] justinclift commented on #125
Which SQL code are you meaning? :smile:

As far as I'm aware, there isn't any stored in SQLite database.  Or are you meaning some form of online editor?

If you're meaning the online editor, then probably not as I think it would be a **huge** amount of work to get right.  Maybe in some distant future point. :wink:

[2020-01-31 15:55] bam80 commented on #125
I mean at least CREATE statements of tables/views/triggers.
It's stored in the database in `sql` column of respective system tables.

[2020-01-31 15:56] justinclift commented on #125
Ahhh.  Interesting idea.  Hadn't thought to include that before, but it should be doable and wouldn't be too hard.

It'll be a few weeks before I switch back to working on dbhub.io stuff.  I can put time into it then. :smile:

[2020-01-31 15:59] bam80 commented on #125
I think probably we should open separate issue for this, as this one is unrelated.

[2020-02-01 00:49] justinclift commented on #125
Good point.  Any interest in opening it? :smile:

[2020-02-01 18:13] bam80 opened #126 "implement exposition of CREATE statement for db objects"
https://github.com/sqlitebrowser/dbhub.io/issues/125#issuecomment-580790233

[2020-02-01 18:16] bam80 commented on #125
#126

Do you know a good one maybe?

[2020-02-01 18:21] #125 closed

[2020-02-02 06:06] justinclift commented on #125
There seem to be several javascript based "online SQL editing" frameworks around.  We use [Redash](https://redash.io) for generating our statistics, and it supports SQLite among many other types of SQL.

We used to have a way of exporting DBHub.io databases online so Redash could use them.  But their import approach changed and we haven't (yet) updated our corresponding piece so that probably does

[2020-02-02 06:07] justinclift commented on #126
Thanks for creating this @bam80. :smile:

[2020-02-02 08:52] bam80 commented on #126
@justinclift supposedly you should assign yourself on it ;)

[2020-02-02 18:50] justinclift commented on #126
Good point. :smile:

[2020-05-29 02:14] jforseth210 opened #128 "Deletion of database not working"
Just signed up for dbhub.io using my github account.
Uploaded my database.
Tried to remove the database by clicking the settings cog, going to destructive options, and clicking "Delete database".
"Yes, delete it."
Clicking redirects to my homepage, where the database is still present.

[2020-05-29 03:54] justinclift commented on #128
Oh, that's not good.  Investigating now. :smile:

[2020-05-29 04:00] jforseth210 commented on #128
Thanks! Let me know if I can provide any more information.

[2020-05-29 04:27] justinclift commented on #128
No worries. :smile:

The logs are showing an error message saying the delete was rejected, as it would have violated a foreign key constraint (a type of database integrity check thing).

Pretty sure this is the first time that error has shown itself for DBHub.io stuff.  Should have it fixed in a few hours though (will need to setup a full replicate to trace things out, etc).

[2020-05-29 09:36] justinclift commented on #128
@jforseth210 Do you time to try that deletion again?

In theory, the problem is now fixed.  But having you verify it just to be on the safe side is probably a good idea. :smile:

[2020-05-29 09:39] justinclift commented on #119
This was implemented a few days ago, in the new [`OpenSQLiteDatabaseDefensive()` function](https://github.com/sqlitebrowser/dbhub.io/blob/c68464438614dfed5e30a95f2458111a2a3d5b73/common/sqlite.go#L266) used for running user provided SQL statements.

[2020-05-29 09:39] #119 closed

[2020-05-29 09:49] justinclift commented on #52
Following up on this (several years later!). :wink:

One of the more useful things I needed to figure out recently was how to safely execute user provided SQL statements against their databases, and return the result.

Am kind of thinking it'd probably be pretty simple to add a API in front of the execution part, so people can run their own SQL statements against their own database and we just JSO

[2020-05-29 09:52] justinclift commented on #19
As an interesting data point, it turns out we're seeing multiple requests for uploading and downloading databases from multiple IP addresses all using the same client certificate file.

So, looks like people are using that as either a workaround to us not yet having team functionality, or maybe just as a way for individual users to synchronise stuff across multiple machines.

[2020-05-29 09:56] justinclift commented on #23
Recently (finally) got around to learning enough about Unicode, control characters, etc. to implement reasonable parsing of Unicode strings for the visualisation functionality.

I'll update that code to work for things like this and people's "display names" too.  We definitely have people being impacted by our system not liking various characters in their names. :frowning:

[2020-05-29 16:08] jforseth210 commented on #128
Yep. It worked now. Thank you!

[2020-05-29 22:44] justinclift commented on #128
You're welcome @jforseth210, thanks for letting us know about the problem and helping with the fix. :smile:

[2020-06-13 11:18] MKleusberg opened #129 "Problem with building a Docker container"
I just tried to build a Docker image by running
[code]
and I got this error message:
[code]

Can you point me in the right direction, @justinclift?

Also wondering if the the last line of the Dockerfile should have ```443``` instead of ```8443``` or if this is on purpose because it's running locally?
[code]

[2020-06-13 11:57] scottfurry commented on #129
Wild stab in the dark...
`cd /go/src/github.com/sqlitebrowser/dbhub.io &&      /go/bin/dep ensure`
is what is failing. Ideally, there should be a `cd [path] || die` in there. Check paths and permissions.
IIRC,  443 is the SSL port number? Again, idle observation.

[2020-06-13 15:30] justinclift commented on #129
Oops.  I haven't even looked at the docker stuff for DBHub.io in ages.  The docker pieces have likely bitrotted. :wink:

The error message:

[code]

Is from the old Go dependency manager, dep, which we no longer use.  The DBHub.io repo moved to using Go modules (the official Go dependency manager approach) instead.  But our docker pieces haven't been updated to match.

I'll need to take a look at

[2020-06-19 10:29] MKleusberg commented on #129
Oh ok :smile: I'm not really interested in using Docker anyway. So I'll try the manual setup as soon as there's some document :smile: No need to hurry though - I was just wondering how this looks like from the server side.

[2020-06-19 15:07] justinclift commented on #129
No worries.  I'll write something up over the next few weeks. :smile:

[2020-06-28 11:08] #128 closed

[2020-07-01 10:37] chrisjlocke opened #130 "Logging in with GitHub shows a 'testing' account"
Logged in via GitHub account, and it shows it wants to connect to 'Testing 1' and 'Justin' (that part got cut off the screen capture, sorry...)

![image](https://user-images.githubusercontent.com/7872218/86234567-0a8dbd00-bb8f-11ea-8040-74d146dcf3b5.png)

Just wanted to check this was intentional.... still 'testing' ?

[2020-07-01 10:39] chrisjlocke opened #131 "[Suggestion] More prominent link to raise an issue"
Went to leave an issue here, and on the main page, its kind of hidden.  There is a link at the bottom, 'Get Involved' and then 'GitHub' but another of 'Support' and 'Create a support issue' link (pointing to the 'new issue' link?) could be useful...

[2020-07-01 11:26] justinclift commented on #130
Oh, that's interesting.  That's a test application I set up in our Auth0 account for doing development on.  It's not the "production" application.

I'll take a look at this in a bit.  Both should be set up identically, but still... that's not good.

And I'll probably need to create a **third** application just for testing purposes, now that we seem to have "real" logins going to both.  Gah. :facep

[2020-07-01 11:27] justinclift commented on #131
Good thinking.  That should be super easy to add.  I'll get that done after getting some food. :smile:

[2020-07-01 11:53] chrisjlocke commented on #130
Yes, I thought this was due to my creating loads of test accounts when we were playing around with logging in, but when I click the 'log in with GitHub', its the next screen that appears - there isn't a 'enter your GitHub credentials' thing, so unsure if its a cookie thing its getting or not, but I'll try clearing everything and having another go.  It had the right avatar, so it knew I was logged

[2020-07-01 12:43] justinclift commented on #131
Just updated the site page footer to include a support link (409e5b61ee8786ea38dd94da520c7387a9510b2b).

Does it look ok to you?

&nbsp; &nbsp; https://dbhub.io

[2020-07-01 13:01] chrisjlocke commented on #131
Excellent, thanks!  A quick 'n easy way for people to raise questions is good.
Aah, on the 'communication' is worth adding a Wiki link?  (https://github.com/sqlitebrowser/dbhub.io/wiki)
Really must install Git so I can create a PR! 😉

[2020-07-01 13:46] justinclift commented on #130
Looking into this more now, it's the Auth0 configuration on the DBHub.io server side is using the "correct" account. **\*whew\***

Further investigation shows that's really a "GitHub OAuth App" that I set up for this ages ago and completely forgot about.  Just renamed it, and also uploaded our general logo to it.

Hopefully if you try again, it looks ok now? :smile:

[2020-07-01 13:51] justinclift commented on #131
Actually yeah.  Please do that. :smile:

[2020-07-01 13:51] justinclift commented on #131
Probably a good idea.  Make a PR? :grin:

[2020-07-01 14:09] chrisjlocke commented on #130
I've tried clearing cookies, but I don't get the Auth login page now, as I assume I've been auth'd ?
Aah, just seen I can delete the entry.

![image](https://user-images.githubusercontent.com/7872218/86253615-af6ac300-bbac-11ea-978a-e487d6ad79c8.png)

Is 'Auth0' a default name?  Should it be 'dbhub.io' ?

Talking of Auth0 and logos, this is the first login page I see...

![image](https://user-imag

[2020-07-01 14:15] justinclift commented on #130
Yeah, there's two different pieces.  The GitHub OAuth App we can change the logo for.  And you're right, the name should be "DBHub.io" instead of ""Auth0".  Just updated that now. :wink:

[2020-07-06 13:29] JamesPerreault opened #132 "API for serverless access?"
The feature list shows that there is an API for "serverless" access.  I can find no documentation on that.  Is that feature implemented?

[2020-07-06 15:08] justinclift commented on #132
@JamesPerreault Not yet.  It's the main thing I want to get done next.

Haven't really designed it out though (eg the first proper steps).

If you're ok for sharing, what sort of stuff are you looking for?  I'll likely use that as the initial use case, to make sure that works well, then expand out from there. :smile:

[2020-07-06 15:16] justinclift commented on #131
@chrisjlocke ping? :wink:

[2020-07-06 15:52] JamesPerreault commented on #132
First, let me give you my use case.  I want to port a desktop recipe application to a web enabled application.  The application's dbackend is a sqlite database.

So at the minimum I would need a query interface.  An sql like interface would probably work. (I.e., I specify the select statement, the results are returned; possibly in chunks).

Updates would be handy, but I think I could use the exist

[2020-07-06 16:12] justinclift commented on #132
Awesome. :smile:

Thinking that through (out loud)...

Being able to execute arbitrary (read only) SQL (eg `SELECT` statements) should be pretty easy.  The server side code for doing the core piece of that is already written and working decently well for our recent visualisation feature.

It should be fairly straight forward to make a "version 1" api using that.  Would you be for trying it out, li

[2020-07-06 16:21] chrisjlocke commented on #131
![image](https://user-images.githubusercontent.com/7872218/86615791-da8a5380-bfac-11ea-9c17-8b500fccc591.png)

(That's my 'oops, its on my list' face! 😉 )

On the plus side, I did actually get around to installing Git Desktop...

[2020-07-06 16:24] JamesPerreault commented on #132
Yes, I would be able to try out version 1 of the api this weekend.

As for updates, option 1 works for me.

Thanks!

[2020-07-06 18:35] justinclift commented on #132
Excellent.  Will get that happening.

Out of curiosity, do you do much API programming stuff?

Also, what's the primary programming language(s?) and/or frameworks(s?) you're likely to use?

All that info is optional of course, it's just I'll probably do a bit of reading up on it to try and make sure things "work easily". :smile:

[2020-07-06 18:41] justinclift commented on #131
Baby steps.  As long as you get there... :smile:

[2020-07-06 21:32] JamesPerreault commented on #132
I'll be using Node.js / Javascript for the query interface.   The thick app is written in Python, so inserts and updates will likely be in that language. But I'm still thinking about that part.

I have not done any API development, although I do know C/C++.

[2020-07-07 03:45] justinclift commented on #132
No worries.  We'll get something working for this weekend, and can iterate on it until we're both happy. :smile:

[2020-07-07 06:39] chrisjlocke commented on #132
Back in March (that seems months ago now ... when it was cold and windy...) I was doing a lot of API work in VB (both XML and JSON data) so happy to look at this.  JSON is preferred...
But yes, can send/receive API requests to help with this.

[2020-07-08 17:38] MKleusberg commented on #129
Just started working through this again today. I think I made some good progress towards running the dbhub services locally :smile: @justinclift Could you maybe update the certificates in db4s/certs though? I'm getting error messages because they expired in 2019 and I'm not sure if I should completely regenerate them myself or ping you instead :wink:

[2020-07-08 18:00] justinclift commented on #129
No worries, looking at it now. :smile:

[2020-07-08 18:18] justinclift commented on #129
@MKleusberg Just to double check, you're definitely meaning the certs in db4s/certs yeah?  Asking because they seem to have expired in 2018 (heh).

So, they definitely need updating (which I'm refreshing my memory of how to do :wink:).  But asking just in case something is strange, as you mention 2019. (?)

[2020-07-08 18:21] MKleusberg commented on #129
Oh you're right. I definitely meant those but didn't look close enough :wink:

[2020-07-08 18:26] MKleusberg commented on #129
Oh no, I meant the ones in docker/certs afterall. Sorry about the confusion! :smile:

[2020-07-08 18:26] justinclift commented on #129
Just pushed a new commit with a regenerated `db4s-dev.dbhub.io` certificate.  I tend to put that name in my local `/etc/hosts` file, pointing to (say) localhost or a local dev VM (etc).

[2020-07-08 18:26] justinclift commented on #129
Oops.  k, gimme a minute.  I'll regenerate the docker ones too. :wink:

[2020-07-08 18:31] MKleusberg commented on #129
Thanks! It turned out that I still had that name in my ```/etc/hosts``` from years ago. So that was no problem.

One more thing I noticed: I had to add this to the config file to fix the login.
[code]
Not sure if ```default``` is the right name here. I just chose it for simplicity.

[2020-07-08 18:36] justinclift commented on #129
Just pushed an updated docker certificate too. :smile:

Good point about the new `user_override` setting needed in the config file too.  It's purpose is to bypass the Auth0 authentication piece, which can be a bit of a pain when doing development.  Especially when travelling or with limited internet access.

The username in there just needs to match a valid username in your local development DBHub

[2020-07-08 18:46] MKleusberg commented on #129
Hmm, I think the intermediate CA needs to be updated too. Sorry for being not very specific. I'm just getting back into this remote part of the code :wink:

[2020-07-08 18:47] justinclift commented on #129
Oops, yep you're right.

k, gimme another few minutes. :wink:

[2020-07-08 19:09] justinclift commented on #129
k, in theory (!) they should be ok now. :smile:

[2020-07-08 19:16] MKleusberg commented on #129
Awesome! That worked :smile: Let's see how far I get now.

[2020-07-08 19:28] MKleusberg commented on #129
It's running!

For future reference, here is what I did:
- Install PostgreSQL, create new user and database, and import initial database schema
- Download and run ```minio```
- Copy the config file in ```docker/config.toml``` to ```~/.dbhub/config.toml``` and change all the paths, Postgres settings, etc.
- Add that ```user_override``` line to the config
- Make sure the directory in the ```disk_cac

[2020-07-08 19:37] justinclift commented on #129
Awesome.  Just copied that into a page on the wiki, as a good initial starting point. :smile:

&nbsp; &nbsp; https://github.com/sqlitebrowser/dbhub.io/wiki/Local-development-setup

[2020-07-09 06:20] justinclift commented on #130
@chrisjlocke Is this resolved? :smile:

[2020-07-09 07:58] MKleusberg commented on #129
I have just updated the DB4S code to make both steps related to DB4S obsolete. I've already removed them from the Wiki page.

[2020-07-09 08:12] chrisjlocke commented on #130
Still says 'Auth0' and the default logo when I go to log in...

![image](https://user-images.githubusercontent.com/7872218/87014064-7b525c00-c1c3-11ea-845c-8a8c6d296834.png)

The other part (buried in github) is OK

![image](https://user-images.githubusercontent.com/7872218/87014361-f156c300-c1c3-11ea-99fc-042d7ad7e11f.png)

When you click that though, it takes you to a 'profile' page for dbhub.io

[2020-07-09 08:50] justinclift commented on #130
Yeah, that doesn't seem to be changeable.  At least, not in the Auth0 UI pieces I've seen. :shrug:

The "dbhub.eu.auth0.com" piece is correct in a way too, as we have an EU account with them.  Not sure why they're showing it there though.

[2020-07-09 08:58] chrisjlocke commented on #130
No problem.  Thanks for fixing the other bits!

[2020-07-09 08:58] #130 closed

[2020-07-09 09:00] justinclift commented on #130
No worries.  Really glad you pointed out the problem(s) so they could be fixed. :smile:

[2020-07-09 09:10] justinclift commented on #129
Oh, in a "semi-related" thing.  One thing I keep on noticing when downloading databases via DB4S is that the download progress dialog isn't good.

It seems to use the full url (including commit hash) as one long string.  For databases with fairly long names, that can make the progress dialog really, really wide.

Would it be fairly simple to change that dialog so it's neater?

Maybe a fixed width,

[2020-07-09 09:23] MKleusberg commented on #129
Good point. Changing it to what you suggested is a bit more complicated but I'll try to keep that in mind when I start making larger changes to the remote code in DB4S. I have however removed the commit hash and the branch name from the URL which was easy enough and makes it already look a lot better :smile:

[2020-07-09 10:33] justinclift commented on #92
@MKleusberg @chrisjlocke As a data point, I just added gzip compression support to the DB4S connection handler running on DBHub.io.

It seems to be working fine, and it also seems to speed things up a lot. :smile:

[2020-07-09 10:37] justinclift commented on #129
Just tested it, and yep... much neater looking now. :smile:

[2020-07-09 10:38] MKleusberg commented on #92
It does however look like the progress bar in DB4S doesn't work anymore. Probably because the download size isn't known in advance.

[2020-07-09 10:38] justinclift commented on #129
Oh... we should merge these changes (when you're happy with them) into the 3.12.x branch too. :smile:

[2020-07-09 10:41] justinclift commented on #92
Oh.  Damn.  We might need to use curl or something to capture the response headers and see what's being transferred.  I was under the impression it'd be "transparent" so wouldn't change anything. :frowning:

[2020-07-09 11:58] MKleusberg commented on #96
I guess we can close this now that #130 is closed?

[2020-07-09 11:59] MKleusberg commented on #101
Can we close this then? :smile:

[2020-07-09 11:59] MKleusberg commented on #100
Closing this because it's a very old issue and seems to be solved :smile:

[2020-07-09 11:59] #100 closed

[2020-07-09 11:59] MKleusberg commented on #99
Closing this because it's a very old issue and seems to be solved :smile:

[2020-07-09 12:00] #99 closed

[2020-07-09 12:18] chrisjlocke commented on #96
Good point ... seems every issue I open is related to logging in!! 😄

[2020-07-09 12:18] #96 closed

[2020-07-09 21:07] justinclift commented on #101
Yep. :smile:

[2020-07-09 21:07] #101 closed

[2020-07-10 08:18] MKleusberg opened #133 "webui: Database settings has no menu"
When looking at a database I have uploaded and navigating through the menu items (Data, Visualise, Discussions, Merge Requests, Settings) I just noticed that this is missing on the Settings page. The entire page looks a bit different and the only way to go back is by using the Back button of the browser.

Same for Commits, Branches, Tags, Releases, and Contributors.

[2020-07-10 08:34] justinclift commented on #133
Errr... screenshot?

[2020-07-10 08:36] justinclift commented on #133
Oh.  I get what you mean.  Yeah, the settings page uses a completely different base template/layout.

I suppose it could be switched over to use the same layout as the other ones. :smile:

[2020-07-10 08:37] MKleusberg commented on #133
Data:
![Screenshot_20200710_103525](https://user-images.githubusercontent.com/3153504/87134652-41538980-c299-11ea-8fd8-5556641b53a9.png)

Visualise:
![Screenshot_20200710_103553](https://user-images.githubusercontent.com/3153504/87134671-47496a80-c299-11ea-9e00-595ebcd0f40d.png)

Settings:
![Screenshot_20200710_103605](https://user-images.githubusercontent.com/3153504/87134680-4adcf180-c299-11ea-9

[2020-07-10 08:56] MKleusberg commented on #108
Took me a while but DB4S is finally using this information now :wink:

[2020-07-10 08:56] #108 closed

[2020-07-11 18:50] justinclift commented on #132
@JamesPerreault Working on getting a basic query interface happening now. :smile:

[2020-07-12 15:36] justinclift commented on #132
Well, that turned out to be a lot more fiddly to get the pieces in place than I was expecting. :wink:

That being said, there's a very (**very**) bare bones API server running that people can query their own databases (and any public ones) one.

The server name is `https://api.dbhub.io`.  As an initial starting point, it only does one thing... run a given SQL query on the desired database.  There'

[2020-07-12 15:37] justinclift commented on #132
Oh, forgot to mention... the SQL query in the above example (prior to base64 encoding it) is:

[code]

[2020-07-12 16:02] chrisjlocke commented on #132
Well done!  Nice!  I'll have a go at this - currently doing some API gubbins stuff, so ...

[2020-07-12 16:02] chrisjlocke commented on #132
Whatever I throw at the URL, I get this error.

`curl: (35) schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the certificate.`

[2020-07-12 18:49] JamesPerreault commented on #132
I tried it out.  It works find with curl but when I try to do it in a web page I get a CORS error:

Can you make it CORS compliant?   The Content type looks okay, so I think the header is all that is needed.

I think I can work with the existing JSON structure.  If I run into issues, 'll let you know.

Also, my database has images, stored as BLOBS.   I am developing without using them, but at some

[2020-07-12 22:29] justinclift commented on #132
@chrisjlocke Try using curl with the `-k` option.  That tells it to skip HTTPS certificate validation, which sounds like the piece that's failing.

The webserver is using a standard Lets Encrypt certificate, so there *shouldn't* (in theory) be issues with it.  Is the very of curl you're using pretty old?

[2020-07-12 22:31] justinclift commented on #132
Good point.  I've been able to avoid learning how CORS works so far.  Looks like it's time to get that done.  I'll have a go at it tonight after work. :smile:

With the BLOBs, no worries, that makes sense.  It shouldn't be too hard to get working. :smile:

[2020-07-12 22:55] JamesPerreault commented on #132
Actually, I've decided I don't want my credentials on the web page in the clear.  By making the db queries server side, instead of in the browser on the client side, I can avoid that.   I've gotten that working, so I'm good to go.   You can work on the CORS stuff if you want, but I don't think I will be needing it.

Thanks!

[2020-07-13 06:50] chrisjlocke commented on #132
Doh!  Didn't think of updating Curl.  Doing a -V did imply it was an old version.  Downloaded a newer one, and the error was indicating it didn't like the self-signed certificate.  Using the -k option solved that.  Thanks for the hand-holding! 👍
Works perfectly.

[2020-07-13 07:02] justinclift commented on #132
Er... it's **not** using a self signed certificate. :wink:

[2020-07-13 12:12] justinclift commented on #132
@JamesPerreault Cool.  I'll skip the CORS stuff for now then.  I'll take a look at the blobs, and see if there's a good way to return them in base64 format.

It won't be tonight though, I'm feeling pretty tired and want to hit the sack early instead. :wink:

[2020-07-13 20:45] JamesPerreault commented on #132
I'm having an issue where I cannot query on numeric fields.   Here is an example:

`select unit,amount,rangeamount,item,optional,inggroup,position      from ingredients WHERE deleted == FALSE AND recipe_id == 24;
`
Here's what it looks like bse64 encoded:
`
c2VsZWN0IHVuaXQsYW1vdW50LHJhbmdlYW1vdW50LGl0ZW0sb3B0aW9uYWwsaW5nZ3JvdXAscG9zaXRpb24gICAgICBmcm9tIGluZ3JlZGllbnRzIFdIRVJFIGRlbGV0ZWQgPT0gRkFMU0

[2020-07-13 21:56] justinclift commented on #132
Thanks, investigating now. :smile:

[2020-07-13 21:59] justinclift commented on #132
Ahhh, hang on.  I think it's just a standard SQL error.  This is showing up in the logs:

[code]

Probably needs a single `=` symbol, rather than doubling them up?

Also, I'll see if there's a way to pass back error messages like this in a useful fashion. :smile:

[2020-07-13 22:23] justinclift commented on #92
As an alternative thought, instead of doing streaming compression it **might** be feasible to gzip compress the requested database on the fly completely first, then transfer the compressed file.

That might allow for the transfer to give an accurate count to the # of bytes expected to be sent over the wire.

For small databases (eg most of them), there difference in start time for the download wou

[2020-07-13 22:29] justinclift commented on #132
Hmmm, the `==` sign approach works in the `sqlite3` command line shell.  Interesting.  It should work for the SQL query then.

I'll probably need to investigate this after work though, as I need to get ready for that now. :wink:

[2020-07-13 22:59] justinclift commented on #132
k, I've replicated the problem in my local development environment, and will get back to figuring out a solution after work tonight. :smile:

[2020-07-14 09:38] justinclift commented on #132
This is a weird bug.  While this query works:

[code]

This one doesn't:

[code]

But only when called via the SQLite driver we're using.  Both queries work fine from the command line.  Am debugging now...

[2020-07-14 09:51] justinclift commented on #132
@JamesPerreault This should be fixed now.  It turned out to be a dumb bug on my part, where I'd blindly left the code ignoring any result rows which contain a null value.

On the plus side, there shouldn't be **too** many more dumb bugs around.  Hopefully. :smile:

[2020-07-14 11:28] JamesPerreault commented on #132
It's working!   There is one bug, where null values are being returned as `"<i>NULL</i>"` .   Not a big deal, as I can check for it and set it appropriately ( right now "" ).   With that work around, my code is working.

Thanks for the quick work!

[2020-07-14 11:46] justinclift commented on #132
Awesome! :smile:

For the NULL values, what would be better to return?  Empty string, or something else, or ?

I'll take a look at getting the blobs-as-base64 piece done, probably tomorrow too. :smile:

[2020-07-14 11:49] justinclift commented on #132
As a data point, that `<i>NULL</i>` is coming from this statement:

https://github.com/sqlitebrowser/dbhub.io/blob/14e1a31bf9bcf9e45ba922c61c0f75b4b567d2b5/common/sqlite.go#L875-L876

It should be pretty simple to change. :smile:

[2020-07-14 11:51] justinclift commented on #132
BLOB values are handled just above that code fragment too, currently like this:

https://github.com/sqlitebrowser/dbhub.io/blob/14e1a31bf9bcf9e45ba922c61c0f75b4b567d2b5/common/sqlite.go#L864-L865

[2020-07-14 11:57] MKleusberg commented on #132
Since we're using JSON, I'd just use ```null``` for NULL values. This allows the user to differentiate NULL values and empty strings.

[2020-07-14 11:59] justinclift commented on #132
@MKleusberg As in "null" as a direct text string?

Can make that change right away, unless you want to do it?

[2020-07-14 12:03] MKleusberg commented on #132
```null``` as in
[code]

I'm currently looking through some other code. So just go ahead if you want to :smile:

[2020-07-14 12:13] justinclift commented on #132
@JamesPerreault The server had the "ignore rows with binary data in them" option turned on, just like it was turned on for nulls before.  That's now been turned off, so you might want to double check and make sure things are still ok on your end. :smile:

@MKleusberg I'll look at the null representation tomorrow.  I need to figure out what internal representation to use in the data so it gets turn

[2020-07-14 13:04] MKleusberg commented on #132
@justinclift The correct internal representation apparently is ```nil```. I'm not sure about any side effects on the webui though. So I'll leave that to you :wink:

[2020-07-14 13:13] JamesPerreault commented on #132
It's still working, as far as I can tell.

[2020-07-14 13:17] justinclift commented on #132
@MKleusberg Just realised that yep, it's [super simple](https://github.com/sqlitebrowser/dbhub.io/commit/6f11766ccfae2fc6a32cd3408af84f57efdc0eaf).  So made the change just now and restarted the server. :smile:

@JamesPerreault The output for nulls should be correct now, as per JSON spec.  In theory. :angel:

[2020-07-14 13:23] justinclift commented on #132
@MKleusberg Side effects in the webUI is a good point, as the visualisation code is using the same function.  So we'd better check that.  Not tonight though. :wink:

[2020-07-16 09:12] justinclift commented on #132
@JamesPerreault Let me know when you'll be up for doing stuff with base64 encoded images.  My suspicion is it'll be pretty simple to do the base64 encoding server side, but I have no idea what you'll need to do client side for it to be shown as an image.

[2020-07-16 11:34] JamesPerreault commented on #132
I'm a bit busy at the moment, so it probably won't be until middle of next week.

[2020-07-16 12:51] justinclift commented on #132
@JamesPerreault No worries. :smile:

[2020-07-18 07:13] justinclift commented on #132
Just added initial support for base64 encoding the returned BLOB (binary) fields.  Hopefully that turns out to be useful. :smile:

For good measure, also added initial docs of the available API end points (eg `/v1/query`), parameters, etc to the API server.  They're viewable by just going to the root directory in a browser.  eg: https://api.dbhub.io

[2020-07-18 13:03] chrisjlocke commented on #132
Talking of 'docs' and stuff, should we/can we/may we use Swagger?
https://swagger.io/tools/

Don't mind dabblin' with this, as its interesting to me.

[2020-07-18 13:07] justinclift commented on #132
@chrisjlocke Go for it.  Seen lots of mention of Swagger, but never really took the time to grok it. :smile:

[2020-07-18 13:08] JamesPerreault commented on #132
You can display base64 encoded images in html, by setting the image _src_ tag to:
`src="data:image/jpeg;base64, <base64 encoded image"`

or whatever the image type is.

I just tried it out, and it works beautifully!

Thanks again for the quick work.

[2020-07-18 13:10] justinclift commented on #132
@JamesPerreault Awesome! :smile:

Is your recipe application something we can point people at as a working example?

[2020-07-18 13:12] JamesPerreault commented on #132
Yes.  I haven't put it online yet, as all my development  has been local.  But as soon as I do, I'll let you know.  It might be a few days.

[2020-07-18 13:12] justinclift commented on #132
Cool.  And no worries at all. :smile:

[2020-07-18 13:30] justinclift commented on #132
Note to self - add some unit tests for the api. :smile:

[2020-07-18 13:55] chrisjlocke commented on #132
I'll experiment more with this next week ... currently working on JSON data at the moment anyway - hopefully Monday.  I'll get a WikiHow tutorial going! 😄

[2020-07-18 14:33] justinclift commented on #132
That'd be super welcome! :grin:

[2020-07-19 09:32] chrisjlocke commented on #132
There are different security levels - OAuth, etc.  This is slightly above my head already, but I assume we've already got OAuth stuff in place?

![image](https://user-images.githubusercontent.com/7872218/87871746-047b4700-c9ab-11ea-8fb9-27ffedf4fdfb.png)

I guess I'll play with 'simple API' first and worry about security later... 😉   I assume it can be easily changed and tweaked.

[2020-07-19 12:10] justinclift commented on #132
Nope, no OAuth in place for the API access.  I don't know much about OAuth, kind of assuming (perhaps wrongly) it's an interactive-login thing.

Yeah, the "Simple API" option seems like a reasonable things to investigate first. :smile:

[2020-07-20 20:26] cmichaud92 opened #134 "Implement "teams" privileges option"
I'm interested in using dbhub to host a small database for a fisheries project I am collaborating on.   We are currently using Google drive and are forced to "version" sqlite databases as we update and share them.  having access to a cloud deployed database would dramatically increase our efficiency.  I am hesitant of using your platform if I must open my data to "public" to enable collaboration a

[2020-07-20 21:59] justinclift commented on #134
@cmichaud92 That definitely makes sense. :smile:

It'll probably be a while before we start into the Teams part of things, as development is currently focusing on the new API and improving the integration with the GUI application.  Haven't really thought through the Teams piece yet, or what it'll take to make happen (there are just placeholders and reminders through our code at the moment).

That

[2020-07-20 22:16] justinclift commented on #132
As a general data point, it'd probably be useful for us to implement enough functionality with the API, that someone could add a "DBHub.io" driver to SQLAlchemy:

&nbsp; &nbsp; https://www.sqlalchemy.org

That's a **very** widely used (Python based) data access library, which already supports "apikey" based access to remote (server) databases.  We could probably copy + adapt one of the existing dr

[2020-07-21 00:32] cmichaud92 commented on #134
@justinclift This is certainly a workable solution.  I have managed to get `dio` up and running and have pulled a database (123a.sqlite) to remote.  I have also succeeded in opening it in DB Browser (by `Open Database` and selecting the 123a.sqlite commit sha in the '.dio\123a.sqlite\db' directory) modifying it and finally `Write Changes`.  The problem - When I run 'dio status 123a.sqlite` I get t

[2020-07-21 00:57] justinclift commented on #134
Ahhh, interesting.  I'll take a look at this tonight after work.  It's probably related to the changes over the last few days in the comms between the GUI (latest dev builds) and the server.

Hmmm, on that note, we'd better update the unit tests to match.  And make sure the unit tests runs as part of our Pull Request checks so we don't break existing users.  Will get that started tonight too. :smi

[2020-07-21 01:01] justinclift commented on #134
Btw, which OS are you running the GUI on?  If it's Windows or macOS, it might be useful to try our [latest nightly dev builds](https://nightlies.sqlitebrowser.org/latest), as @MKleusberg has been adjusting the remote access pieces in that for easier operation.

It'd be useful to have feedback on the updates there too, if you're ok sharing them? :smile:

[2020-07-21 07:14] justinclift commented on #132
As another "note to self", it should be pretty trivial for me to add a working example of calling the new API from Go. :wink:

[2020-07-21 09:54] MKleusberg commented on #134
@cmichaud92 Can you try this?

1) Create the shared dbhub.io account and generate the client certificate
2) Download the [latest nightly build of DB4S](https://nightlies.sqlitebrowser.org/latest) and install that
3) Import the client certificate in the Remote section of the Preferences dialog
4) In the Remote dock (by default it's somewhere on the right) select the certificate you have just import

[2020-07-21 10:22] chrisjlocke commented on #134
As a 'working my head around the workflow', can you confirm if user Adam checks out version 2, then user Charlie checks out version 2, both make amendments, then both check back in, there are now three variations - the original, Adams, and also Charlies.  At the moment, we don't do any diff's or anything, so 'collaboration' has to be a 'can't checkout until that other user has checked in' ... is t

[2020-07-21 10:35] MKleusberg commented on #134
@chrisjlocke Yes, I believe that's correct. It's basically that whoever checks in first wins. The best you could do from DB4S at the moment is uploading to a new branch. I guess as long as Adam and Charlie don't work on a database at the same time you can circumvent this problem by making sure they always download the latest version right before making changes and upload their changes right after

[2020-07-21 12:51] justinclift commented on #134
@cmichaud92 Just now fixed a problem in Dio due to us changing a datestamp format used in the server communication a few days ago.  I was thinking that might have been the problem you hit, but reading back over your problem description, it's not.

When you run `dio pull <somedatabase.db>`, it downloads the database and places it in two locations:

1. The current directory
2. As a kind of backup, u

[2020-07-21 12:53] justinclift commented on #134
@cmichaud92 With the version of `dio` you used, did you compile that from source?  If so, it's probably best to recompile it with the change I added to the dio repository a few minutes ago.  Otherwise `dio list` will likely be broken. :frowning:

[2020-07-21 12:56] justinclift commented on #134
@MKleusberg Interestingly, the unit tests for Dio didn't pick up the server side code change as being incompatible.

We mock the server side communication in the current unit tests, rather than spinning up a local DBHub.io server.  We might be better off spinning one up in Docker and testing against that, as it would catching this kind of problem.

Will need to investigate that.  Not a task for to

[2020-07-21 13:16] MKleusberg commented on #134
@justinclift Yeah, I agree. With the mock server we can never be sure to catch this sort of issue.

[2020-07-21 13:26] cmichaud92 commented on #134
@justinclift  Yes, I see it did download a *.sqlite to my working directory... :roll_eyes:.  I'll recompile dio and try again now that I have a little better understanding.  I'd bet this solves my problem.

@MKleusberg , @chrisjlocke  Thanks for your thoughts on this also.  I will try your suggested workflow this evening.  I think it may be exactly what I need for collaborators who are more comfor

[2020-07-21 13:33] justinclift commented on #134
Not fantastically at the moment.  AFAIK, the GUI and command line tool keep track of which commit was "the latest" when they grabbed a database.  They provide that info back to the server when uploading, and it'll tell them they're out of date if they try to upload a new database but someone else has beaten them.

So, not a perfect solution, but it should stop people directly overwriting each othe

[2020-07-21 23:10] justinclift commented on #134
Oh, the branching model (same as git) does work.  It's just the merging-branches-back-together piece that needs further development.

[2020-07-22 01:37] cmichaud92 commented on #134
@MKleusberg @justinclift  I have managed to pull modify and push data directly from `DB Browser` to `dbhub`.  I feel this will make the process far more accessible to collaborators than the command line tool.  That said, I do really like `dio` as it is easy to use and familiar for those of us with experience using `git`.  Thanks for the detailed instructions.  I feel I'm pretty well setup for the

[2020-07-22 07:06] justinclift commented on #134
You're welcome @cmichaud92.

We're very much open to ideas for improving things too, so if ideas/suggestions come up, let us know. :smile:

[2020-07-22 13:33] JamesPerreault commented on #132
Here's a link to my repository  https://github.com/JamesPerreault/MyGourmetRecipes  .  Because of possible copyright issues with the recipes themselves, I'm not including a link to the active page.   Instead, I included a few screenshots.

[2020-07-22 15:07] justinclift commented on #132
Awesome!  Thanks heaps @JamesPerreault.

I'll add a link to that from the API docs (likely this weekend), so people have a "fully worked" reference example. :smile:

[2020-07-22 17:40] justinclift commented on #134
[Done](https://github.com/sqlitebrowser/dio/releases/tag/0.3.1).

[2020-07-30 09:22] justinclift commented on #132
@JamesPerreault Just added a link to your example application from the main api.dbhub.io page.  Hopefully people find it useful. :smile:

[2020-07-30 09:29] justinclift commented on #132
As a data point, I've started creating a Go library which people can use to access their databases directly:

&nbsp; &nbsp; https://github.com/sqlitebrowser/go-dbhub

It's extremely early stage, but does run remote queries and return the results as would be expected.

The API server still needs a bunch more functionality added, and this Go library should be useful for testing it.

* Function for r

[2020-08-01 02:01] justinclift commented on #132
Small update... tab characters are now allowed in the SQL queries being passed through.  eg:

[code]

Found and fixed that problem a few days ago, when trying out initial non-trivial SQL queries. :wink:

[2020-08-06 12:55] justinclift commented on #132
Does anyone have a minute to look through the initial API docs?

&nbsp; &nbsp; https://api.dbhub.io

@MKleusberg have been adding what (hopefully :wink:) is reasonable initial API functionality over the last few days.  But we haven't updated any docs until today.

The general look and feel seems (to me) like it should  workable, but I'm not 100% sure.  And I haven't had to use them from the perspe

[2020-08-06 21:23] JamesPerreault commented on #132
Is there a reason all the return values say TBD? That's a bit confusing.

Thanks!

Jim

On Thu, Aug 6, 2020, 8:55 AM Justin Clift <notifications@github.com> wrote:

[2020-08-06 21:27] chrisjlocke commented on #132
Thats probably due to this:

We've tried giving Justin two keyboards to type faster, but that didn't work out so well.  So now we just throw tennis balls at him if he sleeps for too long.
He'll be back fixing this soon.  We've got to give him /some/ sleep.

[2020-08-07 01:03] justinclift commented on #132
Yeah, it's just a sign of the "work in progress" nature of the API docs.  I tend to commit and publish stuff "live" while I'm working on it, except where it's likely to cause a security (or similar) problems. :wink:

The `TBD` placeholders will probably be replaced with the correct info today and tomorrow.

Oh, I'd like to simplifiy the very verbose format of results from `/v1/query` too.  Probabl

[2020-08-07 13:29] justinclift commented on #132
**Most** of those TBD's have been filled out now.  There are a few pieces that still need to be done (two fields for `Column`, all of the `Diffs` fields, and `Webpage` function needs adding).

I'll probably get those done tomorrow sometime. :smile:

[2020-08-09 00:46] justinclift commented on #131
Closing this, as the link was added. :smile:

[2020-08-09 00:47] #131 closed

[2020-08-09 07:53] justinclift commented on #134
@cmichaud92 How you go with this?

As a data point, if you've using a nightly build of DB4S then it's probably worth updating to tomorrow's nightly build.  It turned out there was a bug in our uploading code introduced a few weeks ago, that although the first upload works subsequent ones didn't (without a manual workaround).  That's fixed in our source code now, and all our nightly builds will hav

[2020-08-09 16:00] cmichaud92 commented on #134
@justinclift  I had not yet encountered that bug, thanks for the heads up!  I'll update to the most recent nightly build tomorrow.  My focus this week is getting collaborators up and running on `dbhub`.  I'll let you know if we encounter anything unexpected :open_mouth:.  Thanks for keeping me in the loop!

[2020-08-09 16:13] justinclift commented on #134
No worries. :smile:

[2020-08-10 13:48] joe-getcouragenow opened #135 "Tailing a View for changes via golang API"
Not sure if this is already possible but could not find it from a quick look.

Basically It would be really useful to get a change event back out to the golang API when a row change event occurs on a View or Table.

In terms of who it tells of the change i think that a webhook is the simplest way. I tend to use NATS for those sort of things that are asynchronous also, but i am guessing most people

[2020-08-10 21:37] justinclift commented on #135
Thanks @joe-getcouragenow, that sounds like a useful suggestion. :smile:

At the moment (!) our [Go API](https://github.com/sqlitebrowser/go-dbhub) is effectively Read Only, as the backend storage version control's everything.  eg when someone runs a query (or whatever) on a database, it needs to a be a SELECT query, and it runs on the latest revision of the database.

We're adding an Upload funct

[2020-08-10 21:46] justinclift commented on #135
@joe-getcouragenow FYI, there's a minor typo on the [GCN FAQ page](https://www.getcouragenow.org/faqs):

[code]

"fo" → "do"

[2020-08-10 21:47] justinclift commented on #135
@joe-getcouragenow FYI, there's a minor typo on the [GCN FAQ page](https://www.getcouragenow.org/faqs):

[code]

"fo" → "do" :wink:

[2020-08-11 04:51] justinclift commented on #132
@JamesPerreault Adding upload functionality to the API today, if that's of interest. :smile:

It took a bit longer than expected, as there turned out to be a bug with the nightly builds of DB4S upload functionality (introduced a few weeks ago).  That bug meant a first or initial upload worked, but subsequent ones didn't (without a manual workaround).  That bug is fixed now though, so uploads work

[2020-08-11 12:08] MKleusberg commented on #132
@justinclift I don't have enough time to write documentation for the diff call right now but this might help you if you want to write it. It returns a JSON object like this:
[code]

Each change set looks like this. There is one change set object per changed object (table, ...) in the database. So a thousand changed rows in a table still produce only one such object. A single changed row in 5 diffe

[2020-08-11 12:15] justinclift commented on #132
Thanks @MKleusberg, that'll be a good starting point.  My intention is to start hooking up the `Diff()` code to our Merge Request pieces after I get this initial set of API functions working.  Hopefully this week.

So I need to step through the diff code to properly understand it anyway. :shrug:

[2020-08-11 12:38] MKleusberg commented on #132
Awesome :smile: Looking forward to that! Maybe two more notes on that:
* If you want to show the differences between two revisions or branches, set the merge strategy no ```NoMerge``` to save CPU time
* If you want to implement actual merging, you'll need to set the merge strategy as described in [this commit message](https://github.com/sqlitebrowser/dbhub.io/commit/17d37a1e4b78eebb1227f49b134a5a0

[2020-08-11 14:27] joe-getcouragenow commented on #135
Ah had no idea that this does not support live databases.

thanks for FAQ typo :)
will close...

[2020-08-11 14:27] #135 closed

[2020-08-17 02:20] justinclift commented on #132
As a future reference point, the [OpenAPI](https://www.openapis.org) project is probably something we'd want to investigate for a future DBHub.io API version.

[2020-08-18 07:31] justinclift commented on #132
As a data point, I've just "enabled" CORS for all API requests.

Saying "enabled" in quotes there, as all I did was blindly add an `Access-Control-Allow-Origin: *` header to all API responses.

Mainly because that was super easy, rather than investigating CORS in any depth whatsoever.

[2020-08-18 10:54] JamesPerreault commented on #132
The other thing needed for CORS is the Context-Type has to be set to
text/plain or something like that. I'll test it out and see if I have any
issues.

Jim

On Tue, Aug 18, 2020, 3:32 AM Justin Clift <notifications@github.com> wrote:

[2020-08-18 11:03] justinclift commented on #132
Ahhh cool.  The Context-Type should already be getting set to something appropriate. :smile:

[2020-08-18 11:15] apoala2002 opened #136 "connection"

[2020-08-18 11:28] justinclift commented on #136
Hiya,

What is the problem you're hitting? :smile:

[2020-08-19 09:32] justinclift commented on #132
As a general thought, it might turn out to be useful to implement some kind of permissions system for API keys.

Something that would let people do (for example):

* API key "foo" is only allowed to access database "bar".  And it's limited to just the "/v1/query" call.
* API key "baz" is only allowed to access database "abc".  It's allowed all read-only calls.  (eg no upload, no delete)
* API key

[2020-08-20 11:24] JamesPerreault commented on #132
That would be handy. I could put a read only key in a web page, and not
have to proxy things through AWS like I am now. But even without that, it
would be great protection against SQL injection attacks.

Jim

On Wed, Aug 19, 2020, 5:32 AM Justin Clift <notifications@github.com> wrote:

[2020-08-20 12:05] justinclift commented on #132
From an implementation perspective, it should be reasonably straight forward to add the UI pieces to the Settings page, so people can associate a given API key with a given database, and/or make them read only.

With the SQL injection attack consideration (specifically), things *should* already be in a decent place. I was careful to implement the "[Defense Against Dark Arts](https://www.sqlite.org

[2020-08-24 20:16] #133 closed

[2020-08-24 20:27] MKleusberg commented on #133
Just fixed this :smile:

[2020-08-25 03:23] justinclift commented on #133
Awesome! :smile:

[2020-08-26 01:49] justinclift commented on #136
Closing this, due to lack of information. :frowning:

[2020-08-26 01:49] #136 closed

[2020-08-26 08:19] MKleusberg commented on #134
Just a quick update that we're making progress with this. DBHub can now display the changes made in a commit, the changes between two branches, and the changes made in a MR. Merging is still going to take me some more time but seeing what other people changed might already help you a bit :smile: Because I'm working through the code anyway right now, so feel free to mention any missing information

[2020-08-27 09:41] justinclift opened #137 "Code refactoring thoughts :)"
Our code here has substantial amounts of code duplication, mostly around authenticating user supplied data.

Along the lines of:

* Extract element "foo" from the data
* Check if element "foo" validates ok
* Extract element "bar" from the data
* Check if element "bar" validates ok
* Extract element "baz" from the data
* Check if element "baz" validates ok
* (etc)

Instead of that, we should:

* Mo

[2020-08-27 10:07] justinclift commented on #132
@JamesPerreault I'll probably get back into finishing the API piece off, then implementing initial permissions next week, or on the weekend after.  I'm just a bit burnt-out at the moment, and need to not really look at this stuff for a few days. :wink:

[2020-08-31 16:14] MKleusberg commented on #134
@cmichaud92 Some more progress:
I have just added merging and sharing of databases. This allows an improved collaborative workflow like this (you'll need to update to the latest nightly build of DB4S for this though).

1. Let people upload their changes as usual.
2. If they get an error message, somebody else has been faster. In this case upload to a new branch
3. On the web site create a new merg

[2020-08-31 16:17] MKleusberg commented on #19
Closing this as we have the more active #134 issue for this.

[2020-08-31 16:17] #19 closed

[2020-09-16 16:01] justinclift commented on #113
This thought keeps on re-occuring for me, as there are *so* many places that could really use a simple form (with form designer) for easy input and display of data.

We could probably do it after adding some kind of non-version-controlled backend, which we'll need for supporting write queries (eg INSERT, UPDATE) via the API.

[2020-09-17 06:40] justinclift commented on #113
Floated the idea on Twitter with one of our more active Twitter users, who seemed to think the idea has merit:

&nbsp; &nbsp; https://twitter.com/sqlitebrowser/status/1306264316773978117

[2020-10-20 05:10] justinclift opened #138 "Add Open Graph Protocol support"
Adding support for [Open Graph Protocol](https://ogp.me) would likely be extremely simple, and have some really useful benefits for our users:

* (For users) When people share a DBHub.io link in their chat application (Discord, etc), an image an useful data is shown for all people in the conversation.
* (For us) It's probably useful promotion for us, as long as the info/metadata displayed is usefu

[2020-11-12 16:48] dereklasky opened #139 "polka scan"

[2020-11-12 17:19] #139 closed

[2020-11-20 15:08] livadask opened #140 "question - online access"
Hi,

Can I have an online Sqlite database accessed by mobile apps ?

[2020-11-20 15:12] chrisjlocke commented on #140
Via an API (so in an app) yes.
At the moment, databases are read only (select statements only supported).

[2020-11-21 03:31] justinclift commented on #140
@livadask As @chrisjlocke mentions, yes but only "read only" for now.  So, no `INSERT`, `UPDATE`, and `DELETE` statements aren't yet supported.

If that's of interest, check out https://dbhub.io. :smile:

[2021-02-13 15:13] justinclift opened #141 "Random thought... save/sync DB4S settings to DBHub.io?"
Doing stuff with JetBrains IDEA today, it has one of those "Save settings to JetBrains Cloud account" things.

Wonder if we should do something similar for DB4S?  eg add an option for people to save their DB4S preferences to a centralised "Cloud" place (eg DBHub.io), so they can easily sync their settings / set up a new computer by pulling down the saved ones

[2021-02-13 18:43] chrisjlocke commented on #141
lol... if only DB4S settings were in a SQLite database? /childish snigger... one of my 'goals' is to have settings and project files as an SQLite database ... well, it is an SQLite database editor after all .... ;)
Was thinking of doing something similar for one of my apps - allow an upload of the database so someone else can pull it down, etc...

[2021-02-14 00:58] justinclift commented on #141
Heh Heh Heh.  It's probably more important to consider whether the "save/sync settings to cloud" feature would be widely useful, rather than any specific data format thing at this point.

I guess as a sister question to this, should we have "export/import preference settings" options too.  So people can save them as a file (maybe in a SQLite database or XML?), for backup/restore or transferring se

[2021-02-24 01:54] BataBoom opened #142 "Basic send/receive of SQLite databases from DB4S (SQLite Browser)"
Is this available? My Database is constantly getting updated and I'd like a way to communicate with it outside.

[2021-02-24 02:25] justinclift commented on #142
It's a bit unclear if you're asking whether you can save/retrieve databases using DB4S, or via API call from your own application.

That being said, both work.  DB4S itself has a "Remote" tab where you can save and retrieve databases.  The same databases can be grabbed using the [DBHub.io API](https://api.dbhub.io).

Is that what you're asking about? :smile:

[2021-02-24 05:23] BataBoom commented on #142
Thanks for the speedy reply and apologies for the lack of mine.

![image](https://user-images.githubusercontent.com/56499256/108951510-5a8d2880-7625-11eb-8f9d-d4a73cba331d.png)

Is this the only location to configure remote? I don't  really understand it, just says that I can clone the DB onto my local system again or I reckon import a cert to the Hub Service for magic API. The API might be a solu

[2021-02-24 07:55] chrisjlocke commented on #142
OK, I've just done a 'tutorial' video.  Give me a bit of time to edit the needful.  But in a 'quick guide', go to dbhub.io, create an account, set your name (or DB4S moans later), grab a certificate, load that into DB4S, and you're done.
I'll upload a video here shortly, or yell back if you need something more urgent, and I'll spot it... 👍

[2021-02-24 13:43] chrisjlocke commented on #142
Wow - that took longer than I thought.  First real attempt at this, so yell back if anything doesn't make sense or you want me to expand on anything.  There will be more of these, as this just tickles the iceberg.

https://streamable.com/qfnu80

[2021-02-24 21:21] BataBoom commented on #142
Nice voice AI not even lying, its far from annoying like most! xP

Appreciate the effort youve gone above and beyond. If this were a couple years(s) ago id offer to donate some crypto but potentially I've made bad choices and havent got much left. All I can say is, Love you =]

[2021-02-24 23:59] chrisjlocke commented on #142
Haha!  I personally found it a bit annoying (but maybe because I was listening to her all morning!) and found the drop in pitch in every sentence repetitive ... but that was my fault for doing short sentences ("click that.  Now click that.") but hey - better than me doing it!

Hopefully we'll be able to get these out though, as they're useful.  Hope it showed you what to do.  Yell back what isn't

[2021-03-17 21:05] justinclift opened #143 "Add example databases list somewhere useful"
One of our users pointed out that there's no easily findable list of example public databases.

They mentioned looking on the front page, then not finding anything asked directly via our Chat interface.

Not super sure on the best place to put such a thing, but perhaps even just a link (eg "example databases) in the wbsite page footer which goes to a list would work.

We could potentially even poi

[2021-03-17 21:12] ryan-williams commented on #143
I just noticed a link to this example plot on the home page https://dbhub.io/vis/justinclift/Marine%20Litter%20Survey%20%28Keep%20Northern%20Ireland%20Beautiful%29.sqlite that's a good start, not sure how I missed that the first time around

[2021-03-17 21:40] justinclift commented on #143
Cool. :smile:

[2021-03-17 22:19] mgrojo commented on #143
What about a ranking of the most starred databases? If the resulting list does not convince us (since the number might be so low that could be insignificant for a ranking), then we (and some friends :smile: if needed) could give a push to those that we find interesting.

[2021-03-17 23:06] chrisjlocke commented on #143
The Wiki would be the first port of call, as that's easily updatable.  Web page links can easily point to it, plus include some example ones that we know will stay there (I assume the public list will change often).  Theoretically (?) it should be easy to update the wiki page via an external program - github itself has a large API, so I'm assuming there...

[2021-03-30 22:31] beniewaku opened #144 ""Created a single table database using SQLite.""

[2021-03-31 00:33] justinclift commented on #144
@beniewaku That's a bit light on details.  What's the problem you're needing assistance with? :smile:

[2021-04-05 16:58] LOCAR-Paris opened #145 "db"

[2021-04-05 16:59] #145 closed

[2021-04-18 13:10] chrisjlocke opened #146 "Upload / Download / Shake it all about"
So might have a first 'real use' project for DBhub.io.  Would be great once the API is all cooking, but in the meantime, people are working at home and need a 'centralised' database - the office isn't big enough to have a VPN, etc.
Therefore, people will be adding clients, jobs, updating jobs, etc, and my system will be uploading databases, downloading databases, syncing, uploading again, etc.
Int

[2021-04-18 13:14] chrisjlocke commented on #141
You're late to the party.  DB4S already has this.  ;)

[2021-04-19 13:04] justinclift commented on #146
In theory, the existing approach which we use should at least detect + prevent any conflicts, as it follows the git branching and commit model.

That being said, it might be best if we have a chat sometime in realtime (eg Skype, Zoom, or whatever), for higher bandwidth communication.  Can probably set aside some time this weekend, if that'd be helpful. :smile:

[2021-04-30 08:27] LeMoussel opened #147 "Remotely executing SQLite queries with Python"
Ref: [New API for remotely executing SQLite queries](https://sqlitebrowser.org/blog/new-api-for-remotely-executing-sqlite-queries/)

**Using Python for this example:**
[code]

[2021-04-30 08:59] chrisjlocke commented on #147
Is this issue simply an example of you getting it working, or is something not working?

[2021-04-30 09:14] LeMoussel commented on #147
This issue is simply an example to the community.

[2021-04-30 11:24] chrisjlocke commented on #147
Fantastic, thanks for sharing!  Appreciated!

[2021-05-02 06:14] LeMoussel commented on #147
Do you think it would be interesting to have a Python library for accessing and using SQLite databases stored remotely on [DBHub.io](https://dbhub.io/) (like [go-dbhub](https://github.com/sqlitebrowser/go-dbhub))?

[2021-05-02 06:40] LeMoussel opened #148 "Probable security risk on db4s.dbhub.io"
With Firefox, I got a warning about a possible security risk on the SSL certificate of [db4s.dbhub.io](https://db4s.dbhub.io/).

[SSL Checker](https://www.sslshopper.com/ssl-checker.html#hostname=https://db4s.dbhub.io/)

[Wormly ](https://www.wormly.com/test_ssl/h/db4s.dbhub.io/i/161.35.206.89/p/443)

[2021-05-02 07:34] chrisjlocke commented on #148
Yes, the certificate expires soon, similarly to the certificates in DB4S, which will be updated soon and a new version of DB4S released.
As for the other 'errors' .... oooooooh. 😊
Thanks for letting us know.

[2021-05-02 08:25] MKleusberg commented on #148
The other errors are kind of to be expected as we are using a self signed certificate. So browsers and utilities like SSL Checker will throw errors but that's fine for us as you'll mostly be using DB4S and dio to communicate with db4s.dbhub.io and those are shipped with the correct certificates built-in.

That said, we should definitely renew the certificates and ship a new version of DB4S and dio

[2021-05-02 09:10] justinclift commented on #148
I'm generating new certs and stuff atm.  Should have new release binaries ready for signing in a couple of hours... :wink:

[2021-05-02 09:40] justinclift commented on #147
Yes, definitely!  If you want to create some kind of Python library for people to use, then **please** go ahead. :smile:

[2021-05-03 23:10] hhaydar opened #149 "Insert new record using query method"
is it possible to insert new record on tables?...

curl -F apikey="API_KEY" -F dbowner="jdoe" -F dbname="mydata_file" -F sql="SU5TRVJUIElOVE8gc29uZ" https://api.dbhub.io/v1/q

Error:

error": "not authorized (INSERT INTO song_list VALUES('DkDjEr3opt0',0,'','')) (authorization denied)"

Note:

sql decode: INSERT INTO table VALUES('A',0);

[2021-05-04 01:05] justinclift commented on #149
At the moment, no. :frowning: Uploaded databases are read-only.

So, to add new info, you need to do it to a local copy (eg using DB Browser for SQLite), then upload the new version.

That being said, yeah it's a huge pain in the butt for a lot of use cases.  So, we'll need to figure out a way to make this work properly for people.  It won't be in the next few days, but may be possible in a few we

[2021-05-04 18:15] hhaydar commented on #149
Thank you Justin,

[2021-05-04 18:15] #149 closed

[2021-05-06 08:27] LeMoussel opened #150 "Error with Diff API function"
Like describe in [Diff Api function documentation](https://api.dbhub.io/#diff), I do this CURL Request:

`curl -F apikey="MY_API_KEY" -F dbowner_a="justinclift" -F dbname_a="Join Testing.sqlite" -F commit_a="cb70855613d30019055a4d907b832c10014b093556fc282e6b7d2803e2e9d59" -F commit_b="218f28dcb54819e7e4b77e36012ff15d667ca55946c56ef6370b13bdc3ddf528" -F merge="preserve_pk" https://api.dbhub.io/v1/d

[2021-05-06 14:06] justinclift commented on #150
Interesting.  Good find @LeMoussel!

@MKleusberg Any ideas? :smile:

[2021-05-06 15:45] MKleusberg commented on #150
The validation the the value in ```commit_a``` fails because it's one character to short. In general both commit ids don't seem to match the database. So this isn't really a (major) bug but we should definitely fix the error message for these cases.

[2021-05-07 07:39] LeMoussel commented on #147
OK. I'm looking to make a Python library.
Don't be surprised to see API requests with the User Agent: `pybhub v1.0.0`. That's me :)

[2021-05-07 07:39] #147 closed

[2021-05-07 07:43] LeMoussel commented on #150
OK.
Note that the example in the documentation for the Diff function is incorrect.

[2021-05-07 14:29] justinclift commented on #147
Awesome! :smile:

[2021-05-09 23:12] jungle-boogie opened #151 "Can't make a new discussion"
Hi,

I'm trying to make a new discussion on my database repo, but clicking create doesn't do anything. I've disabled `ublock` and still cannot post.

If the database is public, can anyone start a new discussion? If so, see if you can create one:

https://dbhub.io/creatediscuss/jungle-boogie/LasVegasMetroTraffic.db

Thanks!

[2021-05-09 23:42] justinclift commented on #151
@chrisjlocke Do you have time to try this out?  I'm heading off to work atm, and won't be back for 12+ hours.

[2021-05-10 00:17] jungle-boogie commented on #151
By the way, I don't see any errors in Firefox's network console, either.

[2021-05-10 06:25] chrisjlocke commented on #151
Creating a merge request worked, with no errors shown.

![image](https://user-images.githubusercontent.com/7872218/117614891-e280ca00-b160-11eb-93aa-448ffaa29414.png)

[2021-05-10 13:48] chrisjlocke commented on #151
Just tried on my work PC (Still Edge ... think the previous test was actually in Firefox) and get a slightly different error - but in the same file (client.js)

![image](https://user-images.githubusercontent.com/7872218/117669344-b126ef00-b19e-11eb-9475-c9189ca00484.png)

[2021-05-10 13:58] justinclift commented on #151
Yeah, spotted that.  No idea yet where that problem is coming from.

I don't personally have time to investigate tonight though... and with the way the new job is going, it may be a weekend thing. :angel:

[2021-05-16 19:52] jungle-boogie opened #152 "Can't view schema change"
Hi,

I updated a view in my schema. I can see the message in dbhub that there was a schema change, but there is no way to view the change.

https://dbhub.io/diffs/jungle-boogie/LasVegasMetroTraffic.db?commit_a=172eecdd40a38d8457fe7fb74f29e7b468c1dae48b58314c1ea8293755bd18c0&commit_b=ad2e054d5941b30db828137d506fba5923a1192d81b26e5f7ad9db0211d4660d

Notice there's "view" text, but it's not a link an

[2021-05-19 14:00] MKleusberg commented on #151
It's an issue on our side. The submit button tag is not inside the form node. I'll try to fix it :smile:

[2021-05-19 14:06] MKleusberg commented on #151
It's fixed now :smile: Thank you for pointing this out, @jungle-boogie! https://dbhub.io/discuss/jungle-boogie/LasVegasMetroTraffic.db?id=1

[2021-05-19 14:06] #151 closed

[2021-05-19 14:37] MKleusberg commented on #150
Fair point :wink: I've just updated the example in the documentation to fix that.

[2021-05-19 15:17] jungle-boogie commented on #152
Happened with this commit as well:

https://dbhub.io/diffs/jungle-boogie/LasVegasMetroTraffic.db?commit_a=0188755cf8076fe067259295641e4b12500142a73e435bf8eb896e9ed069fc31&commit_b=dd9666145fc3192862e0b4ba4734a042e95b212e5df4ea2a2bdcc79cff41a3a8

[2021-05-19 16:32] justinclift commented on #152
Interesting.  @MKleusberg ? :smile:

[2021-05-20 05:42] #150 closed

[2021-05-24 07:43] chrisjlocke opened #153 "HeadsUp - https://restdb.io/"
Just a note about restDb.io - I was looking at no-code app development (appGyver, appSheet, etc) and a tutorial video mentioned restDb to create an online database.  Well, that 'market' and/or simplicity would be a great angle for dbhub.io ...
Thought I'd mention it, as obviously their 'getting data out' part is what we need, and interesting to see how they do API's for manipulating data, etc.
Any

[2021-05-31 16:15] justinclift commented on #148
Closing this, as I forgot to close it after updating the certs. :wink:

[2021-05-31 16:15] #148 closed

[2021-05-31 17:53] justinclift commented on #132
"Next week" turned out to be a bit ambitious.  Needed to take an extended break after burn-out. :wink:

Anyway, started experimenting with this stuff again after work.  Initial concept mock up (no actual code behind it):

![2021-06-01-api_keys_concept_layout_v1](https://user-images.githubusercontent.com/406299/120227329-4c861e00-c28c-11eb-8993-64ea0d81ea26.png)

* That table with the function call

[2021-06-03 07:59] LeMoussel opened #154 "[Info] Python library for accessing and using SQLite databases stored remotely on DBHub.io"
Hi!

As indicated in issue [#147](https://github.com/sqlitebrowser/dbhub.io/issues/147#issuecomment-830757713), I have developed a Python library for accessing and using SQLite databases stored remotely on [DBHub.io](https://dbhub.io/) (like [go-dbhub](https://github.com/sqlitebrowser/go-dbhub)).

You can see it on  [LeMoussel / pydbhub](https://github.com/LeMoussel/pydbhub)

[2021-06-03 10:34] chrisjlocke commented on #154
Thanks for taking the time to make and post this!

[2021-06-03 14:25] justinclift commented on #154
Awesome, that looks like a really good start @LeMoussel. :smile:

Going to add it to PyPi?

Btw, on the README.md for it, there's a text fragment: `Older Python releases should NOY be OK`  Is that `NOY` a typo?

[2021-06-03 14:27] justinclift commented on #154
Oh, related to this, I've started working on improving on the API backend code again.  It's just early stage Work-In-Progress stuff as I get time to each night, but we **should** have the ability to set permissions for each API key via the user settings page soon (this wkend?).

There will likely be other stuff we want to add/fix/change/etc, but I think that'll be a useful next step. :smile:

[2021-06-04 06:29] LeMoussel commented on #154
Trivial typo. Fixed.

Yes it's planned.

OK. Keep me informed when it is operational. (Rem: I'm watching all notifications from  [sqlitebrowser/go-dbhub](https://github.com/sqlitebrowser/go-dbhub) repository)

[2021-06-05 05:12] justinclift commented on #154
Cool. :smile:

Will add a link to pydbhub from the API page in a bit.  As a data point, if you have thoughts/ideas/etc on ways we can improve the API so it's more useful to people, they're welcome. :smile:

[2021-06-05 06:29] justinclift commented on #154
Added a link to it, from the ["Libraries" section of the api front page](https://api.dbhub.io/#libraries).  Hopefully that helps increase usable of the library, and of the DBHub.io api. :smile:

[2021-06-05 06:43] justinclift commented on #154
* Also added a link from the DBHub.io repo front page, as that seems like a good place too.
* And [tweeted](https://twitter.com/sqlitebrowser/status/1401066833763987460) about it too.

Probably should write a blog post to announce it as well, while we're at it... :smile:

[2021-06-05 14:43] justinclift commented on #154
Just added a blog post as well: https://sqlitebrowser.org/blog/first-release-pydbhub/

Ok, that's about all I can think of for letting people know / promoting it, etc. :smile:

[2021-06-07 08:45] LeMoussel commented on #154
Available on PyPi.
View at: https://pypi.org/project/pydbhub/0.0.2/

[2021-06-07 14:49] justinclift commented on #154
Awesome!

Just updated the blog post about it, the link from the api.dhub.io page, and added info about that on Twitter too. :smile:

[2021-08-07 11:00] MKleusberg commented on #152
Thanks, @jungle-boogie! I have just fixed this. It now shows the previous and the current CREATE statements. This should be enough to figure out what changed in most situations :smile:

[2021-08-07 11:00] #152 closed

[2021-08-29 15:55] justinclift commented on #154
Oops, accidentally left this open.  Closing this now. :smile:

[2021-08-29 15:55] #154 closed

[2021-09-06 13:41] Xmonpl opened #158 "Create a new commit to existing database error"
Hello, I try to create a new commit to the existing database but unfortunately, a received this error. Does someone help me?

Error:
[code]

Code:
[code]

[2021-09-06 13:51] justinclift commented on #158
Ahhh, interesting.  It looks like the request being sent to add the new commit, isn't including the info of the existing commit to append to.

Give me a few minutes to poke through the source code of the server, as it shouldn't be too hard to work out what it's wanting...

[2021-09-06 13:58] justinclift commented on #158
This looks to be the initial mention at the top of the upload function (in the code): https://github.com/sqlitebrowser/dbhub.io/blob/bf7e9a41af955fbf9262098d1273fd207ddf2a35/api/handlers.go#L664-L666

Interestingly, the [api docs page](https://api.dbhub.io/#upload) says it's `commit_id`.  Looks like a mismatch there... checking the server code itself now...

[2021-09-06 14:02] justinclift commented on #158
The field name it's checking for is `commit`: https://github.com/sqlitebrowser/dbhub.io/blob/bf7e9a41af955fbf9262098d1273fd207ddf2a35/common/userinput.go#L133

So, the api doc page needs updating to say that instead of `commit_id`.  :facepalm:

I'll get that done now. :wink:

Meanwhile, is that enough info for you to get past the problem you were having @Xmonpl?

[2021-09-06 14:11] justinclift commented on #158
k, that's been fixed and deployed.

If it doesn't work for you for some reason @Xmonpl, please let us know so we can investigate. :smile:

[2021-09-06 14:20] Xmonpl commented on #158
Yes, everything works now. Thank you very much for your help <3

[2021-09-06 14:20] #158 closed

[2021-09-06 14:21] justinclift commented on #158
Awesome. :smile:

[2021-09-15 21:31] datatalking opened #159 "Database API limits"
I've just learned about your project and perhaps this is discussed elsewhere but after reviewing the docs I didn't see where it showed what the limits of the API are.

Questions:
1. LIMIT - Number of calls each day
2. LIMIT - Size limit of the database uploaded
3. LIMIT - Cost for transfer
4. CONTRIBUTOR - How could I become a contributor to help document things, add notes, fix bugs, and learn. I'

[2021-09-16 06:57] justinclift commented on #159
Good questions. :smile:

For #1, and #3:

We haven't imposed any limits on # of calls each day, and there isn't any cost (from us) for transfer.  From our internal stats, we're not really getting anywhere near usage that would mean we have to introduce limits nor costs.  If/when that starts happening, then we'll look into the best way of handling it.

In the meantime, we're upgrading the backend s

[2021-10-01 19:49] jadsongmatos opened #160 "FTS5"
is it possible to use FTS5 feature?

[2021-10-02 03:01] justinclift commented on #160
That's a good idea.  The FTS5 extension hasn't been added to the SQLite version we're using, but it should be possible to add.

It'll probably be next week or weekend though, not in the next few days.

[2021-12-11 06:30] justinclift opened #161 "Go plugins"
Stumbled over this today: https://pkg.go.dev/plugin

It looks like Go added a native Plugin capability at some point.  That could turn out to be useful. :smile:

[2021-12-31 06:13] hl2guide opened #162 "Improve Repo Main Page - Latest Commit"
Please consider improving the main repo page by adding to the right top section, e.g:

`Visibility: Public   Commit: ##########  Latest Commit: 13 hours ago  Licence: CC-BY-SA-4.0   Size: 100 KB`

(Addition is "Latest Commit: 13 hours ago")

[2022-01-01 03:03] justinclift commented on #162
Good idea, that definitely makes sense.  Should be able to do it pretty simply too.  eg this weekend :smile:

[2022-01-19 16:37] justinclift commented on #162
@hl2guide Sorry it took a while longer than expected.  Thanks to @MKleusberg, it's been implemented and is live now. :smile:

[2022-01-31 01:23] datatalking commented on #159
Most of the areas that I do know of deaf ops or software or from the algorithm or statistical side of a process.

I spent 12 years in mechanical engineering making working drawings of everything from concrete formwork to buildings to precision machining to jigs for military aircraft parts.

After 911 I switched to finance since I've been told over analyze everything and loved all of the gathering

[2022-02-02 07:32] michalc opened #163 "Any chance of a bigger size limit?"
I wonder, is it possible to have a bigger size limit? There are a couple of databases that I would love to upload, but they're bigger than the current limit of 512 MB. Trying to upload, I get an error like:

If it makes a difference, this is one of the datasets - https://data.gov.uk/dataset/e3939ef8-30c7-4ca8-9c7c-ad9475cc9b2f/anonymised-mot-tests-and-results

(I'm not in any way officially associ

[2022-02-02 11:11] justinclift commented on #163
Interesting.  Any idea if the data set changes much?

If it doesn't change very often, then we can probably upload that (and subsequent) changes on an adhoc basis to see how well things perform.  We moved most of the backend to reasonably sized dedicated servers about a month ago, so a ~20GB file will probably be a decent test to stress things.

That being said, our rest API is still running on lo

[2022-02-02 13:00] michalc commented on #163
Looking at the dates, it looks like once a year... but I can't be absolutely sure if updates don't sneak in more frequently.

There potentially might need to be some cleaning-related improvements though - the data comes as a combination of comma separated and pipe separated files, but looks like pipes or commas in some of the rows are not quoted/escaped, so I've had to guess as to the "right" thin

[2022-02-19 07:34] kimashani opened #164 "Txt"

[2022-02-19 14:59] justinclift commented on #164
Hi @kimashani, I'm guessing this new issue report was created accidentally, so I'll close it.

If you did mean to ask us something though, just let us know. :smile:

[2022-02-19 14:59] #164 closed

[2022-05-08 13:16] gschleusner opened #165 "Change Sets/ Session Support?"
Is there any chance that Sessions and Change Sets would be added to enable client side diffing and much smaller uploads.

https://sqlite.org/sessionintro.html

They certainly won't work for all kinds of databases but it would be really powerful for datasets that are designed to take advantage.

[2022-05-09 19:27] justinclift commented on #165
Yeah, it's a good idea.  @MKleusberg actually wrote a bunch of diff-ing code (in Go) already, which seems to work ok.

We'd probably need to add the same code (but a C++ version) to include in DB4S too, so it knows how to send diffs to the server.

[2022-05-14 15:12] justinclift opened #166 "What's the right way to handle outdated "View changes" links in merge requests?"
For example, the "View change" text link [here](https://dbhub.io/merge/justinclift/Join%20Testing.sqlite?id=1#c136) isn't functional.

We should probably figure out a way to keep things like this working, especially as the MR isn't closed (yet).

[2022-06-05 13:30] MKleusberg commented on #166
Hmm, the fundamental question here is what to do when somebody deletes their database. Should the places where it's referenced become invalid as well (as it is happening here) or should they stay valid (as you expected)? I feel like in both cases it's easily possible to come up with a story where that's what the database's owner intended.

[2022-06-06 09:37] justinclift commented on #166
It's probably best if we somehow keep the link valid.  Not exactly sure how though. :smile:

[2022-06-27 22:23] Lightning- opened #168 "dbhub.io internal certificate expired"
seems that some internal cert of dbhub.io expired.
trying to push a change using db4s gives this error:
[code]

[2022-06-27 23:44] chrisjlocke commented on #168
What version of DB4S are you using, and on what OS?
The internal certs did expire, but the latest version of DB4S should be good to go...

[2022-06-28 00:08] justinclift commented on #168
@Lightning- Thanks for pointing this out @Lightning-.  You're right, that's a cert for one of the internal database servers.

I knew the certificate was going to expire, however I disregarded it as the database software isn't bothered about certificate expiry times.

But I'd forgotten we also have another piece of software running on the same server.  :facepalm:

I've just renewed it's certificate

[2022-06-28 00:08] Lightning- commented on #168
running v3.12.1 on (slackware) linux.
the ca certs from the certmanager are valid until 2027 (intermediate) and 2037 (root).
i'm not trying to run anonymously but upload to my account with my own client cert (which is valid till march 2023), so i never took care about v3.12.2. this message is not about the certs from https://github.com/sqlitebrowser/sqlitebrowser/commit/d85953c291b5f0bb467e2c12dfa

[2022-06-28 00:09] justinclift commented on #168
Yeah, this is definitely an internal component thing.  Try it again now? :smile:

[2022-06-28 00:10] Lightning- commented on #168
works like a charm, thx =D

[2022-06-28 00:11] #168 closed

[2022-08-01 07:40] chrisjlocke opened #169 "Datasette"
An open source multi-tool for exploring and publishing data

Datasette is a tool for exploring and publishing data. It helps people take data of any shape, analyze and explore it, and publish it as an interactive website and accompanying API.

Datasette is aimed at data journalists, museum curators, archivists, local governments, scientists, researchers and anyone else who has data that they wish

[2022-08-01 07:51] justinclift commented on #169
Maybe at a future point.  Haven't looked at it much, though people have mentioned it a few times.

[2022-08-20 03:18] silvioprog opened #170 "Question - Usage limitations"
Hi.

I am going to develop an open source command-line application for handling personal expenses/finances. It will use a SQLite database and allow the users to backup their data in an online storage.

So, can I use the service DBHub.io and the library [go-dbhub](https://github.com/sqlitebrowser/go-dbhub) for such purpose?

TIA for any help!

[2022-08-20 07:29] chrisjlocke commented on #170
Currently there are no limits.  This may be revised if an explosion in demand occurs, but for the moment .... code away! ;)
Good luck with it.

[2022-08-22 01:52] silvioprog commented on #170
Thanks a lot for clarifying! :-)

[2022-08-22 01:52] #170 closed

[2022-08-26 21:12] wibeasley opened #171 "license "info" link opens in a new tab"
I'm enjoying exploring this site.  Here's a tiny suggestion.

A few minutes ago I was choosing a license.  When I clicked the "Info" link next to "CC0",  it opened in the same tab, instead of a new tab.  I had to re-enter a small amount of info (the public/private and the license).  Consider showing that license info in a new tab.

![image](https://user-images.githubusercontent.com/1372890/1869909

[2022-08-26 21:21] chrisjlocke commented on #171
Good point.  A quick fix.  Looks doable.
Thanks for reporting it!

[2022-08-28 05:22] cktime opened #172 "How to delete an API key ？"
## How can I delete an API key when I don't want to use it, I can't find the delete button in the web interface
![图片](https://user-images.githubusercontent.com/93019859/187058871-5f11123a-44cb-4bc7-a303-5776dda781eb.png)

[2022-08-28 08:06] chrisjlocke commented on #172
Don't think you can yet.  It's OK - as we don't charge you rent for it, you can just ignore any you don't use. :)

[2022-08-28 09:39] #172 closed

[2022-11-05 00:38] ddupas opened #173 "y axis range"
if you have values that are very large you can not see the chart progression, for instance if there are 10 items ranging from 250000 to 250550, the chart sets the y axis 0 - 250600, and so all the bars / lines are the same because its a small change in relation to the size of the value. if you have a setting for y value range, the chart will be useful

[2022-11-05 05:00] justinclift commented on #173
Interesting.  We'll be improving the graphing part of things anyway in a few weeks, so this should be looked at then. :smile:

[2022-11-06 03:10] ddupas commented on #173
I ended up going a different path but am still interested. I used Github to store dB and git push to upload it, then Sql. Js to get data and highcharts to get the charts.

[2022-11-06 05:50] justinclift commented on #173
Cool, all good. :smile: